html, body {
  padding: 0;
  margin: 0;
  font-size: 13px;
}

.horizontal {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.horizontal > * {
  float: left;
}

.clearfix::after {
  content: '';
  clear: both;
  display: block;
}

header.main-header > nav {
  border-bottom: 1px solid #ccc;
}

header.main-header > nav > ul.left {
  float: left;
}

header.main-header > nav > ul.left > li:first-of-type {
  margin-left: 15px;
  margin-right: 15px;
}

header.main-header > nav > .right {
  float: right;
}

header.main-header > nav > .right > ul > li > a {
  color: #585858;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 7px;
}

header.main-header > nav > .right > .room-list {
  font-size: 14px;
}

header.main-header > nav > .right > .auth-list {
  font-size: 12px;
}

header.main-header > nav ul > li > a {
  display: inline-block;
  height: 60px;
  line-height: 60px;
}

header.main-header > nav ul > li > a > img {
  vertical-align: middle;
}

.search-container {
  position: relative;
  height: 678px;
  background-color: #ebe6e0;
  background-image: url("../images/MainSearch-img-2018.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-container > .input-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 110px;
  background-color: rgba(0, 0, 0, 0.6);
}

.search-container > .input-bg > form {
  width: 534px;
  margin: 30px auto;
}

.search-container > .input-bg > form > * {
  float: left;
  height: 50px;
  box-sizing: border-box;
}

.search-container > .input-bg > form > input {
  width: 434px;
  padding: 0 20px;
  border: none;
  border-radius: 3px 0 0 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 50px;
}

.search-container > .input-bg > form > button {
  width: 100px;
  border: none;
  border-radius: 0 3px 3px 0;
  font-size: 15px;
  color: white;
  background-color: #3b8de0;
  cursor: pointer;
  transition: 0.5s;
}

.search-container > .input-bg > form > button:hover {
  background-color: #2074c8;
}

.theme-search {
  text-align: center;
}

.theme-search > .theme-search-header {
  width: 960px;
  margin: 71px auto 30px;
}

.theme-search > .theme-search-header > * {
  padding: 0;
  margin: 0;
}

.theme-search > .theme-search-header > h2 {
  font-size: 36px;
}

.theme-search > .theme-search-header > p {
  margin-top: 5px;
  font-size: 20px;
}

.theme-search > .theme-search-wrap {
  width: 990px;
  padding: 0;
  margin: 0 auto;
  padding-bottom: 150px;
  font-size: 0;
}

.theme-search > .theme-search-wrap > li {
  list-style-type: none;
  font-size: 13px;
}

.theme-search > .theme-search-wrap > li:hover > .theme-search-img {
  transform: scale(1.2);
}

.theme-search > .theme-search-wrap > .theme-search-item {
  float: left;
  overflow: hidden;
  position: relative;
  margin-top: 30px;
  margin-right: 30px;
  text-align: center;
  cursor: pointer;
  width: 300px;
  height: 300px;
  transition: transform .3s ease-in-out;
}

.theme-search > .theme-search-wrap > .theme-search-item > .theme-search-img {
  position: absolute;
  width: 300px;
  height: 300px;
  transition: transform .3s ease-in-out;
}

.theme-search > .theme-search-wrap > .theme-search-item > .theme-search-img-pet {
  background-image: url("../images/pet.jpg");
}

.theme-search > .theme-search-wrap > .theme-search-item > .theme-search-img-guarantee {
  background-image: url("../images/guarantee.jpg");
}

.theme-search > .theme-search-wrap > .theme-search-item > .theme-search-img-pano {
  background-image: url("../images/pano.jpg");
}

.theme-search > .theme-search-wrap > .theme-search-item > .theme-search-img-parking {
  background-image: url("../images/parking.jpg");
}

.theme-search > .theme-search-wrap > .theme-search-item > .theme-search-img-direct {
  background-image: url("../images/direct.jpg");
}

.theme-search > .theme-search-wrap > .theme-search-item > .theme-search-img-office {
  background-image: url("../images/officetel.jpg");
}

.theme-search > .theme-search-wrap > .theme-search-item > .theme-search-img-wrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2a2a2a;
  transition: transform .3s ease-in-out;
  opacity: .4;
}

.theme-search > .theme-search-wrap > .theme-search-item > .theme-search-typo {
  position: relative;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.theme-search > .theme-search-wrap > .theme-search-item > .theme-search-typo > * {
  margin: 0;
  padding: 0;
}

.theme-search > .theme-search-wrap > .theme-search-item > .theme-search-typo > .theme-search-typo-title {
  font-size: 24px;
}

.theme-search > .theme-search-wrap > .theme-search-item > .theme-search-typo > .theme-search-typo-line {
  width: 46px;
  height: 1px;
  background-color: #fff;
  margin: 23px auto;
}

section.banner {
  position: relative;
  width: 100%;
  height: 100px;
  cursor: pointer;
}

section.banner > .visual-wrap {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("https://s3-ap-northeast-1.amazonaws.com/dabang-prod-manage-image/event/02f6a5c9-01e4-4d03-8863-06daf889413f");
  background-color: #ede7db;
  height: 100px;
}

section.sitemap {
  width: 960px;
  margin: 48px auto 71px;
}

section.sitemap h3, section.sitemap ul, section.sitemap li {
  padding: 0;
  margin: 0;
}

section.sitemap h3 {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.86666667em;
  color: #585858;
}

section.sitemap li {
  list-style-type: none;
}

section.sitemap a {
  text-decoration: none;
  color: #585858;
}

section.sitemap > .sitemap-grid {
  float: left;
  width: 190px;
}

section.sitemap > .sitemap-grid > .sitemap-menu > .sitemap-menu-list {
  margin-bottom: 22px;
  line-height: 1.9;
}

.terms {
  position: relative;
  width: 100%;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  background-color: #fff;
}

.terms section.sitemap h3, section.sitemap .terms h3, .terms section.sitemap ul, section.sitemap .terms ul, .terms section.sitemap li, section.sitemap .terms li, .terms ul, .terms li {
  padding: 0;
  margin: 0;
}

.terms li {
  float: left;
  text-align: center;
  height: 49px;
  width: 160px;
  line-height: 49px;
  list-style-type: none;
  border-right: 1px solid #d1d1d1;
  box-sizing: border-box;
}

.terms li:first-of-type {
  border-left: 1px solid #d1d1d1;
}

.terms a {
  display: inline-block;
  text-decoration: none;
  color: #585858;
  font-size: 13px;
  height: 49px;
  width: 160px;
}

.terms a:hover {
  background-color: #ccc;
}

.terms > ul.terms-box {
  width: 960px;
  height: 49px;
  margin: 0 auto;
}

footer {
  width: 100%;
  background-color: #2a2a2a;
}

footer section.sitemap h3, section.sitemap footer h3, footer section.sitemap ul, section.sitemap footer ul, footer section.sitemap li, section.sitemap footer li, footer .terms ul, .terms footer ul, footer .terms li, .terms footer li, footer ul, footer li {
  padding: 0;
  margin: 0;
}

footer li {
  list-style-type: none;
}

footer > .footer-wrap {
  width: 960px;
  height: 268px;
  padding-top: 93px;
  margin: 0 auto;
}

footer > .footer-wrap > * {
  float: left;
}

footer > .footer-wrap > .footer-logo {
  width: 98px;
  height: 88px;
  background-image: url("../images/station3_CI.png");
}

footer > .footer-wrap > .footer-address-wrap {
  margin-left: 45px;
  color: #919191;
}

footer > .footer-wrap > .footer-address-wrap em {
  color: #fff;
  font-weight: bold;
  font-style: normal;
}

footer > .footer-wrap > .footer-address-wrap > * {
  display: inline-block;
  vertical-align: bottom;
}

footer > .footer-wrap > .footer-address-wrap > ul > li {
  margin-bottom: 11px;
}

footer > .footer-wrap > .footer-address-wrap > .footer-address1 {
  width: 288px;
}

footer > .footer-wrap > .footer-address-wrap > .footer-address2 {
  width: 323px;
}

footer > .footer-wrap > .footer-address-wrap > .footer-address3 {
  width: 196px;
}
