// Variable

$main-color: rgb(30, 161, 247);

// Common css

%padding-margin-0 {
  padding: 0;
  margin: 0;
}

body {
  @extend %padding-margin-0;
}

li, ul {
  @extend %padding-margin-0;
  list-style-type: none;
  font-size: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.clearfix::after {
  display: block;
  content: '';
  height: 0;
  clear: both;
}

// wrap

.wrap {
  background: linear-gradient(52deg, #5383e8, #3991ef 31%, #3892f0 32%, #3594f1 36%, #00b2ff);
  min-width: 1080px;
  min-height: 100%;
  overflow: hidden;
}

// Header

header {
  background-color: $main-color;

  li {
    display: inline-block;
    vertical-align: middle;
  }

  > .header {
    padding-top: 25px;
    padding-bottom: 25px;
    max-width: 1300px;
    margin: 0 auto;

    > ul.sites {
      float: left;

      > li.site {
        margin-right: 20px;

        &.site-logo {
          padding-right: 20px;
          border-right: 1px solid #fff;
          border-right-color: rgba(255, 255, 255, 0.4);
          box-sizing: border-box;
        }

        > a{

          > * {
            display: inline-block;
            vertical-align: middle;
          }

          > span {
            font-size: 12px;
          }

          > img {
            margin-right: 9px;
          }

          > img.site-logo__lol {
            margin-right: 12px;
          }

        }
      }
    }

    > ul.gnb-list {
      float: right;

      > li.gnb-list-item {

        &.gnb-list-item__setting {
          margin-left: 10px;

          > button.gnb-btn {
            background-color: inherit;
            border: none;
            height: 32px;
            cursor: pointer;

            > span.gnb-btn__server {
              padding: 2px 7px 3px;
              margin-right: 9px;
              background-color: #fff;
              color: $main-color;
            }

            > span.gnb-btn__lang {
              color: #fff;
            }

            > span.gnb-btn__icon {
              margin-left: 15px;
            }
          }
        }

        &.gnb-list-item__login {
          margin-left: 20px;
          display: inline-block;
          vertical-align: middle;

          &::before {
            display: inline-block;
            content: '';
            border-right: 1px solid #fff;
            border-right-color: rgba(255, 255, 255, 0.4);
            width: 1px;
            height: 18px;
            margin-right: 20px;
            vertical-align: middle;
            height: 32px;
          }

          > a {
            display: inline-block;
            height: 26px;
            padding: 0 20px;
            border: none;
            border-radius: 2px;
            line-height: 26px;
            font-size: 12px;
            letter-spacing: -0.5px;
            color: #fff;
            background: #1c87c3;
            text-decoration: none;
          }
        }
      }
    }
  }
}

// menu

.menu {
    background: #1d2e51;

    > ul.menu-items {
      max-width: 1300px;
      margin: 0 auto;

      > li.menu__item {
        display: inline-block;
        margin-left: 7px;

        &:first-child {
          margin-left: 0;
        }

        > a {
          color: #73a1cb;
          display: block;
          padding-bottom: 9px;
          padding-top: 13px;
          padding: 11px 8px 7px;
          font-size: 15px;
        }

        &.menu__item--active > a,
        &.menu__item:hover > a {
          border-bottom: 3px solid #fff;
          color: white;
        }
      }
    }
}

// Container

.container {
  width: 1080px;
  margin: 0 auto;
  min-height: 700px;
  padding-bottom: 120px;

  > .index-logo {
    padding: 60px 0 53px;

    > img {
      display: block;
      max-width: 360px;
      max-height: 232px;
      margin: 0 auto;
    }
  }

  > form.summoner-search-form {
    position: relative;
    width: 624px;
    height: 50px;
    margin: 0 auto;
    border-radius: 2px;
    background-color: #fff;

    > input.summoner-search-form__text__sugest {
      position: relative;
      width: 100%;
      padding: 15px 150px 18px 17px;
      border: none;
      box-sizing: border-box;
      outline: none;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);
      line-height: 17px;
      font-size: 14px;
      color: #9b9b9b;
    }

    > button.summoner-search-form__button {
      position: absolute;
      top: 0;
      right: 0;
      margin: 10px 10px 0 0;
      border: none;
      background-color: inherit;
      cursor: pointer;
    }

    > button.search-btn {
      position: absolute;
      top: 0;
      right: 70px;
      height: 30px;
      margin-top: 10px;
      margin-right: 10px;
      background-color: inherit;
      border: none;
      cursor: pointer;

      > span.search-btn__server {
        display: inline-block;
        margin-right: 10px;
        padding: 1px 7px 2px 8px;
        line-height: 13px;
        font-size: 11px;
        letter-spacing: -0.4px;
        color: #fff;
        background: #788185;
      }
    }
  }
}

//Community Best

.community-best {
  width: 529px;
  min-height: 396px;
  border: 1px;
  margin-top: 30px;
  background-color: #fff;
  border: solid 1px #e9eff4;
  float: left;

  &.community-best--right {
    float: right;
  }

  > .community-best__header {
    border-bottom: 1px solid #f0f0f0;

    > a {
      display: block;
      padding: 17px 0 16px 20px;
      line-height: 17px;
      font-size: 14px;
      color: #000;
      font-weight: bold;
    }
  }

  > .community-best__content {

    > ul.community-article__list {

      > li.community-article__list__item {
        border-top: 1px solid #f0f0f0;

        &:first-child {
          border-top: none;
        }

        > a {

          > .community-article__list__item__rank {
            float: left;
            line-height: 68px;
            width: 55px;
            font-size: 18px;
            font-weight: 300;
            font-style: oblique;
            color: #1ab80c;
            text-align: center;
          }

          > .community-article__list__item__thumbnail {
            float: left;
            height: 56px;
            padding: 6px 0 0;
            margin-right: 20px;
            width: 100px;
            line-height: 56px;
            text-align: center;
            margin-bottom: 6px;
            overflow: hidden;

            > img {
              max-width: 100px;
            }
          }

          > .community-article__list__item__title {
            margin-top: 14px;
            line-height: 17px;
            font-size: 14px;
            color: #000;
            font-weight: 300;
            display: inline-block;

            > em {
              color: #0475b8;
              font-style: normal;
            }
          }

          > .community-article__list__item__sub {
            margin-top: 6px;
            color: #879292;
            line-height: 15px;
            font-size: 12px;

            > .community-article__list__item__sub__item {
              display: inline-block;
              vertical-align: middle;

              &:last-child:before {
                display: inline-block;
                margin-left: 6px;
                margin-right: 6px;
                content: "";
                border-left: 1px solid #d8d8d8;
                height: 1px;
                vertical-align: middle;
              }
            }
          }
        }
      }
    }
  }
}

footer {
  margin: 0 auto;
  padding: 40px 0;
  width: 1080px;
  color: #fff;

  ul.footer__links {
    line-height: 15px;

    > li.footer__links__item {
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }

      > a {
        font-size: 12px;
      }
    }
  }

  .footer__copyright {
    margin-top: 10px;
    line-height: 14px;
    font-size: 12px;
    font-weight: bold;
  }

  ul.footer__sns {
    text-align: right;
    margin-top: -16px;

    > li.footer__sns__item {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
    }
  }
}

// icon {
.icon {
  display: inline-block;
}

.down-icon {
  width: 7px;
  height: 4px;
  background-position: -133px -1464px;
  background-image: url('../images/icons/site.png');
}

.down-icon__black {
  background-position: -133px -2532px;
  width: 7px;
  height: 4px;
  background-image: url('../images/icons/site.png');
}

.search-icon {
  display: inline-block;
  background-position: -90px -797px;
  width: 50px;
  height: 30px;
  background-image: url("../images/icons/site.png");
}

.sns__icon {
  display: block;
  background-position: center;
  height: 15px;
  width: 16px;
}

.twitter {
  background-image: url("../images/icons/twitter_icon_white.png");
}

.instagram {
  background-image: url("../images/icons/instagram_icon_white.png");
}

.facebook {
  background-image: url("../images/icons/facebook_icon_white.png");
}

.weibo {
  background-image: url("../images/icons/weibo_icon_white.png");
}
